.rc-md-navigation .button,
.tool-bar .button {
    background-color: unset;
    border: unset;
    border-radius: unset;
    font-size: unset;
    font-weight: unset;
    padding: unset;
    text-decoration: unset;
    letter-spacing: unset;
    text-transform: unset;
    white-space: unset;
}

label {
    font-weight: unset;
}

input {
    width: 100%;
}

.error-label {
    margin-top: -15px;
    font-style: italic;
    color: red;
}

.error-label-editor {
    font-style: italic;
    color: red;
}

button, .button, button[disabled]:hover {
    background-color: #fff;
    border-color: rgb(26, 147, 111);
    color: #000 !important;
    margin-bottom: 0px;
}

button:hover, .button:hover {
    background-color: #FAFAFA;
    border-color: rgb(17, 75, 95) 
}

a, a:hover, a:visited, a:active {
    color: rgb(26, 147, 111);
}